<!doctype html>
<html lang=sv>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel=icon href="/_assets/img/icon.png">
<style>
html { font-family: system-ui, sans-serif; line-height: 1.5; margin: 0 2.5% 0; padding-bottom: 6em; background-color: #a8b0c0; color: black;
  /* https://leaverou.github.io/css3patterns/#blueprint-grid */
  background-image: linear-gradient(rgba(255,255,255,0.2) 2px, transparent 2px), linear-gradient(90deg, rgba(255,255,255,0.2) 2px, transparent 2px), linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.2) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
@supports(margin: max(0px)) {
  html { margin-left: max(2.5%, env(safe-area-inset-left)); margin-right: max(2.5%, env(safe-area-inset-right)); }
}
body { max-width: 64em; margin: 0 auto 1em; padding: 0 1.5em 1em; background-color: white; box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4); border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
header { margin-left: -1.5em; margin-right: -1.5em; position: relative; }
header::before { display: block; content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 467'/%3E"); width: 100%; /* aspect ratio hack; stable layout during load */ background-image: linear-gradient(to bottom, #9ba8b8, white); }
img.banner { position: absolute; top: 0; width: 100%; }
.social { position: absolute; right: 1.5em; bottom: 1em; filter: drop-shadow(0 0 0.5em #4f4a25); }
.social svg { fill: white; }
img.me { float: right; margin: 0 0 1em 1em; border-radius: 50%; border: 4px solid #ddd; }
img { border: none; }
h1, h2 { color: darkgoldenrod; line-height: 0.9; }
h1 { font-weight: 100; margin-top: 1.5rem; margin-bottom: 1rem; font-size: 4em; border-bottom: 4px solid #ddd; }
h2 { font-weight: normal; margin-top: 2rem; margin-bottom: 1rem; font-size: 2em; }
:link, :visited { color: darkblue; text-decoration: underline; }
footer { clear: both; border-top: 4px solid #ddd; margin-top: 2em; display: grid; grid-template-columns: repeat( auto-fit, minmax(15em, 1fr) ); grid-column-gap: 2em; }
</style>
<title>{{title}}</title>
<header>
<img alt src="/_assets/img/header-1000w.jpg" srcset="/_assets/img/header-1000w.jpg 1000w, /_assets/img/header-2000w.jpg 2000w" sizes="(min-width: 67em) 67em, 100vw" class="banner">
<div class="social"><a href="https://www.facebook.com/anderselochalltjanst/" title="@anderselochalltjanst på Facebook"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48" role="img" aria-label="Facebook"><path d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"></path></svg></a></div>
</header>
{{ content | safe }}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139128543-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-139128543-1');
</script>
