html { font-family: system-ui, sans-serif; line-height: 1.5; margin: 0 2.5%; background-color: #dde; color: black; }
body { max-width: 64em; margin: 1em auto; padding: 1.5em; background-color: white; box-shadow: 0 0 5em gray; }
body > :first-child { margin-top: 0; }
body > :last-child { margin-bottom: 0; }
.sections { display: grid; grid-template-columns: repeat( auto-fit, minmax(15em, 1fr) ); grid-column-gap: 2em; }
img { max-width: 100%; border: none; }
header img { width: 100%; max-width: none; transition: margin 0.3s, width 0.3s; }
@media (max-width: 35em) { header img { margin: -1.5rem -1.5rem 0 -1.5rem; width: calc(100% + 3rem); } }
h1, h2 { font-weight: normal; color: darkgoldenrod; line-height: 1.1; }
h1 { margin-top: 1.5rem; margin-bottom: 1.5rem; font-size: 2.5em; }
h2 { margin-top: 2rem; margin-bottom: 1rem; font-size: 2em; }
:link, :visited { color: darkblue; text-decoration: underline; }
